/* Colour palette: 
    --deep-walnut: #513D26ff;
    --mauve-shadow: #6E374Eff;
    --olive-leaf: #2E4109ff;
    --crimson-violet: #6B0645ff;
    --olive-leaf-2: #6B692Aff;

/* :root is used to define global variables (colors, fonts, etc.) that you can reuse */
:root {
    --primary-color: #cfa87b;
    --secondary-color: #6c757d;
}

/* body styles apply to the entire page */
body {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background:
    linear-gradient(
        rgba(207, 168, 123, 0.7),
        rgba(207, 168, 123, 0.7)
    ),
    url('/static/images/pixelbg.jpg');
}

.hero {
    background-color: #6E374Eff;
    color: white;
    text-align: center;
}

.game-col {

    background: linear-gradient(170deg, #2E4109ff, #1e1e1e);
    border: 4px solid #6B692Aff;
    border-radius: 18px;
    padding: 20px;
    min-height: 500px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.7);
}

/* footer styles apply only to the <footer> element */
footer {
    /* margin-top: auto helps push the footer to the bottom if there's little content */
    margin-top: auto;
}

#main-mushroom-img {
    width: 300px;
    text-align: center;
    margin-top: 20px;
}

.mushroom {
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
    animation: fadeOut 9s forwards; 
}

@keyframes fadeOut {
    0% {scale: 1; opacity: 1;}
    100% {scale: 0; opacity: 0;}
}