/* Colour palette: 
    --deep-walnut: #513D26ff;
    --mauve-shadow: #6E374Eff;
    --olive-leaf: #2E4109ff;
    --crimson-violet: #6B0645ff;
    --olive-leaf-2: #6B692Aff;

/* :root is used to define global variables (colors, fonts, etc.) that you can reuse */
:root {
    --primary-color: #cfa87b;
    --secondary-color: #6c757d;
}

/* body styles apply to the entire page */
body {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-color: #cfa87b;
}

.hero {
    background-color: #6E374Eff;
    color: white;
    text-align: center;
}

/* footer styles apply only to the <footer> element */
footer {
    /* margin-top: auto helps push the footer to the bottom if there's little content */
    margin-top: auto;
}

#main-mushroom-img {
    width: 200px;
    text-align: center;
}

.mushroom {
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
    animation: fadeOut 5s forwards; 
}

@keyframes fadeOut {
    0% {scale: 1; opacity: 1;}
    100% {scale: 0; opacity: 0;}
}