/* Colour palette: 
    --deep-walnut: #513D26ff;
    --mauve-shadow: #6E374Eff;
    --olive-leaf: #2E4109ff;
    --crimson-violet: #6B0645ff;
    --olive-leaf-2: #6B692Aff;

/* :root is used to define global variables (colors, fonts, etc.) that you can reuse */
:root {
    --primary-color: #cfa87b;
    --secondary-color: #6c757d;
}

/* body styles apply to the entire page */
body {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background:
    linear-gradient(
        rgba(207, 168, 123, 0.7),
        rgba(207, 168, 123, 0.7)
    ),
    url('/static/images/pixelbg.jpg');
}

.hero {
    color: white;
    text-align: center;
    background: 
    linear-gradient(
        rgb(110, 55, 78, 0.7),
        rgb(110, 55, 78, 0.7)
    ),
    url('/static/images/headerfooterbf.gif');
    background-repeat: repeat-x;
}

.game-col {

    background: linear-gradient(170deg, #2E4109ff, #1e1e1e);
    border: 4px solid #6B692Aff;
    border-radius: 18px;
    padding: 20px;
    min-height: 500px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.7);
}

.nav-link {
    color: rgb(238, 200, 216);
}

.nav-link:hover {
    color: rgb(245, 119, 171);
}

footer {
    /* margin-top: auto helps push the footer to the bottom if there's little content */
    margin-top: auto;
    background:
    linear-gradient(
        rgb(110, 55, 78, 0.7),
        rgb(110, 55, 78, 0.7)
    ),
    url('/static/images/headerfooterbf.gif');
    background-repeat: repeat-x;
    background-position: 10%;
}

#main-mushroom-img {
    width: 250px;
    text-align: center;
    margin-top: 20px;
}

.mushroom {
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
    animation: fadeOut 9s forwards; 
}

@keyframes fadeOut {
    0% {scale: 0; opacity: 0;}
    30% {scale: 1; opacity: 1;}
    100% {scale: 0; opacity: 0;}
}

.footer-image-row {
  width: 100%;
  line-height: 0;
}

.footer-image-row img {
  height: 50px;
  display: block; 
  object-fit:cover;

  filter: brightness(0);
  opacity: 0.5;
  transition: filter 0.5s ease, opacity 0.5s ease;
}

.footer-image-row img.unlocked {
  filter: brightness(1);
  opacity: 1;
}

#auto-upgrades-list {
  height: 387px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

#clicker-upgrades-list {
  height: 387px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.captain-toad {
    position: absolute; 
    top: 55px;          
    left: 50px;       
    z-index: 999;       
    height: 50px;
    
    /* This part handles the movement */
    animation: moveSideToSide 25s linear infinite alternate;
  }

  /* Define the left-to-right movement */
  @keyframes moveSideToSide {
    from { left: 7%; }
    to { left: 90%; }
  }