<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mushroom Masher</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" text="text/css" href='../static/styles.css' />
  </head>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
    </style>
  <body>
    <!-- Hero Section: A large, prominent section at the top of the page -->
    <section class="hero">
      <div class="container">
        <h1>Mushroom Masher</h1>
      </div>
    </section>

  <!-- Captain toad moving across screen -->
    <img src="{{ url_for('static', filename='images/captainwalking.gif') }}" class="captain-toad"/>

  <!-- Main Content: The primary information on your page -->
    <main class="py-5">
      <div class="container text-center">
        <div class="row align-items-start">

          <div class="col game-col">
            <div class="column1">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Points</h5>
                  <p class="card-text" id="numbers">
                    0
                  </p>
                </div>
              </div>
              <div id="main-mushroom" onclick="mushroomClick()">
                <img id="main-mushroom-img" src="{{ url_for('static', filename='images/pngmushroom.png') }}" />
              </div>
              <div>
                <h1 onclick="testfunc()">
                  test
                </h1>
              </div>
            </div>
          </div>

          <div class="col game-col">
            <div class="column2">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link active"
                    id="auto"
                    data-bs-toggle="tab"
                    data-bs-target="#home-tab-pane"
                    type="button"
                    role="tab"
                    aria-controls="home-tab-pane"
                    aria-selected="true"
                  >
                    Auto Upgrades
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link"
                    id="click"
                    data-bs-toggle="tab"
                    data-bs-target="#profile-tab-pane"
                    type="button"
                    role="tab"
                    aria-controls="profile-tab-pane"
                    aria-selected="false"
                  >
                    Clicker Upgrades
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link"
                    id="option"
                    data-bs-toggle="tab"
                    data-bs-target="#contact-tab-pane"
                    type="button"
                    role="tab"
                    aria-controls="contact-tab-pane"
                    aria-selected="false"
                  >
                    Options
                  </button>
                </li>
              </ul>

              <div class="tab-content" id="myTabContent">
                <div
                  class="tab-pane fade show active"
                  id="home-tab-pane"
                  role="tabpanel"
                  aria-labelledby="home-tab"
                  tabindex="0"
                >
                  Auto Ups
                  <div id="auto-upgrades-list"></div>
                </div>

                <div
                  class="tab-pane fade"
                  id="profile-tab-pane"
                  role="tabpanel"
                  aria-labelledby="profile-tab"
                  tabindex="0"
                >
                  Click Ups
                  <div id="clicker-upgrades-list"></div>
                </div>

                <div
                  class="tab-pane fade"
                  id="contact-tab-pane"
                  role="tabpanel"
                  aria-labelledby="contact-tab"
                  tabindex="0"
                >
                  I'm OPTIONS
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </main>

    <!-- Images along top of footer -->
    <div class="footer-image-row d-flex justify-content-around align-items-end">
      <img src="{{ url_for('static', filename='images/mariomushroom.png') }}" class="locked-image" point-threshold="10">
      <img src="{{ url_for('static', filename='images/minishroom.png') }}" class="locked-image" point-threshold="100">
      <img src="{{ url_for('static', filename='images/megashroom.png') }}" class="locked-image" point-threshold="300">
      <img src="{{ url_for('static', filename='images/minecraftmushroom.png') }}" class="locked-image" point-threshold="500">
      <img src="{{ url_for('static', filename='images/brownmushroomminecraft.png') }}" class="locked-image" point-threshold="1000">
      <img src="{{ url_for('static', filename='images/sdvcommonmush.png') }}" class="locked-image" point-threshold="2000">
      <img src="{{ url_for('static', filename='images/sdvmorel.png') }}" class="locked-image" point-threshold="5000">
      <img src="{{ url_for('static', filename='images/sdvchantrelle.png') }}" class="locked-image" point-threshold="10000">
      <img src="{{ url_for('static', filename='images/sdvredmush.png') }}" class="locked-image" point-threshold="20000">
      <img src="{{ url_for('static', filename='images/sdvlavacap.png') }}" class="locked-image" point-threshold="50000">
      <img src="{{ url_for('static', filename='images/mrmushroom.png') }}" class="locked-image" point-threshold="100000">
    </div>

    <!-- Footer: Information at the bottom of the page -->
    <footer class="text-white text-center py-4">
      <div class="container">
        <p>&copy; 2025 Mycelium Rising inc. All rights reserved.</p>
      </div>
    </footer>

    <!-- Flask-rendered urls -->
    <script>
        const images = {
          smallmush : "{{ url_for('static', filename='images/mush1.png')}}",
          scythe : "{{ url_for('static', filename='images/scythe.png')}}",
          tractor : "{{ url_for('static', filename='images/tractor.png')}}",
          bed : "{{ url_for('static', filename='images/mushroombedpixel.png')}}",
          farm : "{{ url_for('static', filename='images/pixelfarm.png')}}",
          lab : "{{ url_for('static', filename='images/lab.png')}}",
          terrarium : "{{ url_for('static', filename='images/terrarium.png')}}",
          greenhouse : "{{ url_for('static', filename='images/greenhouse.png')}}"
        }
    </script>

    <!-- Bootstrap JS: Required for interactive components like the mobile menu -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Custom JS: Your own interactive code goes here -->
    <script src="{{url_for('static', filename='helper.js')}}"></script>
    <script src="{{url_for('static', filename='script.js')}}"></script>
  </body>
</html>
