<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mushroom Masher</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" text="text/css" href='../static/styles.css' />
    <script>
      function validateUsername(){
        const usernameInput = document.forms['usernameform']['username'].value
        console.log(usernameInput)
        if (usernameInput.length < 3 || usernameInput.length > 15){
          alert('Username must be between 3 and 15 characters')
          return false
        }
      }
    </script>
  </head>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
    </style>
  <body>

    <!-- Hero Section: A large, prominent section at the top of the page -->
    <section class="hero">
      <div class="container">
        <h1>Mushroom Masher</h1>
      </div>
    </section>

  <!-- Main Content: The primary information on your page -->
    <main class="py-5">
      <div id="login-form">
        <form action="/play" name="usernameform" onsubmit="return validateUsername()">
          <label for="fname">Username:</label><br>
          <input type="text" id="fname" name="username" required><br>
          <button id="gobutton">Go!</button>
          <div>Enter a username to create or continue a save!</div>
          <div>Usernames must be between 3 and 15 characters!</div>
          <div>The game saves every 10 seconds!</div>
        </form>
      </div>
    </main>

    <!-- Images along top of footer -->
    <div class="footer-image-row d-flex justify-content-around align-items-end">
      <img src="{{ url_for('static', filename='images/mariomushroom.png') }}" class="locked-image" point-threshold="10">
      <img src="{{ url_for('static', filename='images/minishroom.png') }}" class="locked-image" point-threshold="100">
      <img src="{{ url_for('static', filename='images/megashroom.png') }}" class="locked-image" point-threshold="300">
      <img src="{{ url_for('static', filename='images/minecraftmushroom.png') }}" class="locked-image" point-threshold="500">
      <img src="{{ url_for('static', filename='images/brownmushroomminecraft.png') }}" class="locked-image" point-threshold="1000">
      <img src="{{ url_for('static', filename='images/sdvcommonmush.png') }}" class="locked-image" point-threshold="2000">
      <img src="{{ url_for('static', filename='images/sdvmorel.png') }}" class="locked-image" point-threshold="5000">
      <img src="{{ url_for('static', filename='images/sdvchantrelle.png') }}" class="locked-image" point-threshold="10000">
      <img src="{{ url_for('static', filename='images/sdvredmush.png') }}" class="locked-image" point-threshold="20000">
      <img src="{{ url_for('static', filename='images/sdvlavacap.png') }}" class="locked-image" point-threshold="50000">
      <img src="{{ url_for('static', filename='images/mrmushroom.png') }}" class="locked-image" point-threshold="100000">
    </div>

    <!-- Footer: Information at the bottom of the page -->
    <footer class="text-white text-center py-4">
      <div class="container">
        <p>&copy; 2025 Mycelium Rising inc. All rights reserved.</p>
      </div>
    </footer>

    <!-- Bootstrap JS: Required for interactive components like the mobile menu -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Custom JS: Your own interactive code goes here -->
  </body>
</html>
